/* COLOR PALLETTE */
/* https://coolors.co/026c8d-29274c-073888-525252 */

/* TAGS */
body {
    overflow: hidden;
}

/* ID */
#bg {
    background-attachment: fixed;
    transform: translateX(2000px);
}

#bg div:nth-child(1){
    background-color: #FFFFFF;
    @apply opacity-10;
}

#bg div:nth-child(2){
    background-color: #7A7A7A;
    @apply opacity-15;
}

#bg div:nth-child(3){
    background-color: #525252;
    @apply opacity-20;
}

#bg div:nth-child(4){
    background-color: #474747;
    @apply opacity-35;
}

#container {
    background-color: #010F14;
}

#navigation {
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
}

#footer {
    opacity: 0;
    animation: showFooter 1.0s linear;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}

#home {
    background-image: linear-gradient(to bottom, #052861, #021027);
}

#about {
    background-image: linear-gradient(to bottom, #021027, #063074);
}

#projects {
    background-image: linear-gradient(to bottom, #063074, #03183A);
}

/* CLASSES */

.navActive {
    @apply border-b-2 border-white w-3/4
}

.navInactive {
    @apply border-b-2 border-white w-1/3
}

.cog1 {
    animation: rspin 3.0s linear infinite;
}

.cog2 {
    animation: lspin 3.0s linear infinite;
}

.rot90 {
    animation: rotate90 2.0s infinite;
}

.navButton {
    @apply font-bold text-sm font-sans
}

.navButton .navText {
    visibility: hidden;
}

.navButton:hover {
    visibility: hidden;
}

.navButton:hover .navText {
    animation-fill-mode: both;
    visibility: visible;
}

.nextSection:hover a {
    @apply text-blue-500
}

.nav:hover .hiddenNav {
    display: block;
}

.contact:hover {
    @apply animate-bounce;
}

.startText h1{
    opacity: 0;
}

.startText h1:nth-child(1) {
    animation: showText .5s linear;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.startText h1:nth-child(2) {
    animation: showText .5s linear;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.startText h1:nth-child(5) {
    animation: showText .5s linear;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

.right-38 {
    right: 9.5rem;
}

.top-38 {
    top: 9.5rem;
}

.right-62 {
    right: 15.5rem;
}

.top-62 {
    top: 15.5rem;
}

.right-86 {
    right: 21.5rem;
}

.top-86 {
    top: 21.5rem;
}

.opacity-15 {
    opacity: 0.15;
}

.opacity-35 {
    opacity: 0.35;
}

.fromRight {
    animation: inRight 1.5s linear;
    animation-fill-mode: forwards;
}

/* KEYFRAMES */

@keyframes showText {
    from {
        opacity: 0;
        transform: translate(0px,10px);
    }
    to {
        opacity: 1;
        transform: translate(0px, -10px);
    } 
}

@keyframes showFooter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes inRight {
    from { 
        opacity:0;
        transform: translate(20px,0);
    }
    to {
        opacity:100;
        transform: translate(0,0);
    }
}

@keyframes lspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}